{% extends "../layout.html" %}

{% block content %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-offset-4 col-md-4">
				<form method="POST" class="login-form">
				  <div class="form-group">
				    <input type="email" name="email" class="form-control" placeholder="Email" autofocus>
				  </div>
				  <div class="form-group">
				    <input type="password" name="password" class="form-control" placeholder="Password">
				  </div>
				  <button type="submit" class="btn btn-block btn-primary">Submit</button>
				  <div class="form-group text-center forgot">
				  	<a href="/forgot">Forgot your password?</a>
				  </div>
					<div class="form-group text-center">
						Dont have and account? <a href="/signup">Singup!</a>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
