.main-wall {
  background-color: #2C3E50;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.random-walls > div {
  margin-bottom: 20px;
  text-align: center;
}

.random-walls h2 {
  font-weight: normal;
}

.random-walls > div p {
  margin-right: 10px;
  margin-left: 10px;
}

.image-form {
  margin-top: 10px;
}

.wall-holder {
  position: relative;
  display: inline-block;
  width: 960px;
}

.click-box {
  display: block;
  position: absolute;
  cursor: pointer;
}
