/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic,900);
/* line 29, ../sass/screen.sass */
.header {
  background-color: #2A2E3E;
  color: #FFF;
  padding: 25px 0px 0px 10px;
  height: 70px;
  font-weight: 900;
  font-size: 30px;
  border-bottom: 1px solid #535b7b;
}

/* line 38, ../sass/screen.sass */
.redtext {
  color: #F43752;
}

/* line 41, ../sass/screen.sass */
body {
  font-family: Lato, Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #F2F2F2;
  color: #A7A0A2;
}

/* line 48, ../sass/screen.sass */
.wrap {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
}
/* line 12, ../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.1/sass/susy/output/support/_clearfix.scss */
.wrap:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 52, ../sass/screen.sass */
.content {
  margin-top: 4vh;
  height: 80vh;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}
/* line 23, ../sass/screen.sass */
.content:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 58, ../sass/screen.sass */
h2 {
  padding: 10px 0px;
  color: #555555;
}

/* line 63, ../sass/screen.sass */
.Category h2 {
  cursor: pointer;
}

/* line 66, ../sass/screen.sass */
li {
  list-style: none;
}

/* line 70, ../sass/screen.sass */
.gallery__item {
  float: left;
  padding: 10px;
  margin: 10px 0px;
  list-style: none;
  cursor: pointer;
  max-width: 320px;
}
/* line 78, ../sass/screen.sass */
.gallery__item:hover {
  color: #887e81;
}

/* line 82, ../sass/screen.sass */
.title {
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 6px;
  margin-top: 20px;
}

/* line 88, ../sass/screen.sass */
.videoDate {
  font-size: 14px;
  padding-top: 3px;
}

/* line 93, ../sass/screen.sass */
.Category h2 {
  font-size: 24px;
}

/* line 23, ../sass/screen.sass */
.Category:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 99, ../sass/screen.sass */
p.videoDescription {
  width: 80%;
  line-height: 1.45em;
}
