{{define "about"}}
	{{template "header1"}}
	<title>Lirix | About</title>
	{{template "header2"}}
	<div class="container">
		<h1 class="text-center">About Lirix</h1><br />
		<p class="text-center">Lirix is a browser-based weather application that runs as a local webserver. It was created by Josh Vega (<a href="https://github.com/Jsvcycling">@Jsvcycling</a>) for <a href="http://gophergala.com/">Gopher Gala 2015</a>.</p>
		<p class="text-center">Lirix is written entirely in Go. <a href="http://getbootstrap.com/">Twitter Bootstrap</a> is used for UI styling.</p>
		<p class="text-center">All data is obtained from <a href="http://openweathermap.org">OpenWeatherMap</a>.</p>
	</div>
	{{template "footer"}}
{{end}}