{{define "header2"}}
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	</head>
	<body>
		<nav class="navbar navbar-default">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand navbar-left" href="/"><img src="https://raw.githubusercontent.com/gophergala/lirix/master/logo_50.png?token=AAalOo4oecl7ZkMjuPQL9QwfcXB4DUquks5UzYW8wA%3D%3D" /></a>
				</div>
				<div id="navbar">
					<!--<form class="navbar-form navbar-left" role="search" method="GET" action="/search_results">
						<div class="form-group">
							<input type="text" name="q" class="form-control" placeholder="Search">
						</div>
					</form>-->
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/about">About</a></li>
					</ul>
				</div>
			</div>
		</nav>
{{end}}