{{define "index"}}
	{{template "header1"}}
	<title>Lirix | Overview</title>
	{{template "header2"}}
	<div class="container">
		<h4 class="text-center">Click a city to see a detailed forecast.</h4>
		{{range .data}}
		<a href="/detail?id={{.LocationId}}">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="row">
						<div class="col-xs-4"><h4 class="text-left"><img src="http://openweathermap.org/img/w/{{.WeatherIcon}}.png" />{{.DisplayName}}</h4></div>
						<div class="col-xs-4"><h5 class="text-center text-lowercase"><b>{{.WeatherDescription}}</b></h5></div>
						<div class="col-xs-4"><h5 class="text-right">{{.TargetTime}}</h5></div>
					</div>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-4">
							<div class="row">
								<div class="col-md-3">Sunrise:</div><div class="col-md-9">{{.Sunrise}}</div>
								<div class="col-md-3">Sunset:</div><div class="col-md-9">{{.Sunset}}</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="row">
								<div class="col-md-2">Temp:</div><div class="col-md-10">{{.Temperature}} &deg;C</div>
								<div class="col-md-2">Humidity:</div><div class="col-md-10">{{.Humidity}}%</div>
								<div class="col-md-2">Pressure:</div><div class="col-md-10">{{.Pressure}} hPa</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="row">
								<div class="col-md-2">Speed:</div><div class="col-md-10">{{.WindSpeed}} mph ({{.WindDirection}}&deg;)</div>
								<div class="col-md-2">Gusts:</div><div class="col-md-10">{{.WindGusts}} mph</div>
							</div>
						</div>
					</div>
					<hr />
					<div class="row">
						<div class="col-md-4">
							Cloud Coverage: {{.CloudCoverage}}%<br />
						</div>
						<div class="col-md-4">
							<div class="row">
								<div class="col-md-2">Rain:</div><div class="col-md-10">{{.RainAmount}}mm (in the past 3 hours)</div>
								<div class="col-md-2">Snow:</div><div class="col-md-10">{{.SnowAmount}}mm (in the past 3 hours)</div>
							</div>
						</div>
						<div class="col-md-4">
							<!--<a class="btn btn-danger" href="/delete?id={{.LocationId}}">Remove</a>-->
						</div>
					</div>
				</div>
			</div>
		</a>
		{{end}}
	</div>
	{{template "footer"}}
{{end}}