<div class="outer-wrapper">
        <div class="inner-wrapper">
            <div class="header">
                <div class="logo nav" rel="home">GopherKombat</div>
                <div class="nav" rel="blueprint">Blueprint</div>
                <div class="nav" rel="kombat">Kombat</div>
                <div class="nav" rel="rankings">Rankings</div>
                <div class="profile">
                    <div class="login">Login with GitHub</div>
                    <div class="logout" style="display:none;">Logout</div>
                </div>
                <p style="clear: both;"/>
            </div>
            <div id="content">
                 
            </div>
        </div>
    </div>
<script type="application/javascript" src="js/frame.js" defer></script>
