<div class="jumbotron">
    <h1>Robostats</h1>
    <p>Mind your drones</p>
    <p>
    {{link-to 'Login' 'sessions.login' class='btn btn-success btn-lg'}}
    {{link-to 'Signup' 'users.signup' class='btn btn-success btn-lg'}}
    </p>

</div>
