package main

import "fmt"
import "encoding/json"

var values []interface{} = []interface{}{
	"Hi",
	20,
	true,
	1.0e100,
	10.1,
	int64(1234567890987654321),
	map[string]string{"Competition" : "Gopher Gala"},	
}

func main() {
	{{%s}}
}