# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.tmp
gowatch


# OS
.DS_Store
Thumbs.db

# Common IDEs
*.swp
.idea/
.buildpath
.settings
atlassian-ide-plugin.xml
.project
.pydevproject
.installed.cfg
*.sublime-project
*.sublime-workspace
*.ropeproject

# Coverage
.coverage

# Virtualenv
env/
.env/
.env#

Virtualenv
env/
.env/
.env#

/src/
/bin/
/dep/

# Project
/public/

*.db

# Translations
*.mo

# Logs
*.log

*.pid

