{{define "home"}}
{{template "header" .}}
<script type="text/javascript">
var users = [];
var user = {
    name : {{.User.Name}},
    location: {
        lat : {{.User.Location.Latitude}},
        lng: {{.User.Location.Longitude}}
    }
}
</script>

<h2>Welcome {{.User.Name}}</h2>
<h3>What would you like to do now?</h3>
<div class="row spacer-down-xs">
    <div class="col-md-12">
        <div id="map-canvas"></div>
    </div>
</div>
<div class="row">
    {{range .Data}}
    <div class="col-md-3">
        <div class="well">
        <script type="text/javascript">
        users.push({
            name : {{.User.Name}},
            location : {
                lat : {{.User.Location.Latitude}},
                lng: {{.User.Location.Longitude}}
            }
        });
        </script>
        <div>
            <h3>
                <a href="/profile/{{.User.Name}}">{{.User.Name}}</a>
                <a href="#" class="pull-right" id="usr-zoom-{{.User.Name}}"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span></a>
            </h3>
        </div>
        {{if ge .Score 50.0}}
        <div class="progress">
            <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="{{.Score}}" aria-valuemin="0" aria-valuemax="100" style="width: {{.Score}}%">
                <span class="sr-only">{{.Score}}%</span>{{.Score}}%
            </div>
        </div>
        {{else}}
        <div class="progress">
            <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="{{.Score}}" aria-valuemin="0" aria-valuemax="100" style="width: {{.Score}}%">
                <span class="sr-only">{{.Score}}%</span>{{.Score}}%
            </div>
        </div>
        {{end}}

        <h3>Interests</h3>
        {{template "helpers/interests" .User.Interests}}
    </div>
</div>
{{end}}
</div>

<script src="scripts/home.js"></script>
{{template "footer" .}}
{{end}}
