{{define "login"}}
{{template "header" .}}

<h2>{{.Title}}</h2>
<div>
    <form action="/login" method="POST">
        <div class="row spacer-down-xs">
            <div class="col-md-4">
                <input type="text" name="username" class="form-control" placeholder="Username" />
            </div>
            <div class="col-md-2">
                <input type="submit" class="btn btn-primary" />
            </div>
        </div>
        <p>A few test users:</p>
        <ul>
            <li>kotulamar</li>
            <li>ggobbe</li>
            <li>marie</li>
            <li>magda</li>
        </ul>
    </form>
</div>

{{template "footer" .}}
{{end}}
