{{define "profile"}}
{{template "header" .}}

<h2>{{.Title}}</h2>

<div class="row">
    <div class="col-md-4">
        <h3>Your interests</h3>
        <form action="/interest/add" method="POST">
            <p><input type="text" name="interest" class="form-control" placeholder="Interest" /></p>
            <div class="row">
                <div class="col-md-6">
                    <p><input type="number" name="rating" class="form-control" placeholder="Rating" /></p>
                </div>
                <div class="col-md-6">
                    <p><input type="submit" name="add-interest" class="btn btn-primary full-width" value="Add" /></p>
                </div>
            </div>
            {{template "helpers/interests" .User.Interests}}
        </form>
    </div>
    <div class="col-md-8">
        <div id="map-canvas"></div>
    </div>
</div>

<script type="text/javascript">
function initialize() {
    var latLng = { lat: {{.User.Location.Latitude}}, lng: {{.User.Location.Longitude}}};
    var mapOptions = {
        center: latLng,
        zoom: 10
    };
    var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
    var marker = new google.maps.Marker({
        position: latLng,
        map: map,
        title:"Position"
    });
}
setTimeout(initialize, 500);
</script>

{{template "footer" .}}
{{end}}
