.w50{width: 50%}

.w85{width: 85%}

.teams .card{
    border-bottom: 1px solid #EBEBEB;
    box-shadow: 0px 1px 0px #FAFAFA;
    padding: 2em;
    position: relative;
}

.teams .card{cursor: pointer;}
.teams .card:hover{background: #FCFCFC;}

.teams .home{text-align: right;}
.teams .team-img {
    display: inline-block;
    text-align: center;
}
.teams .team-img-small{
    height: 100px;
    width: 100px;
    display: inline-block;
    text-align: center;
}

.teams .team-img img{width: 100%}
.teams.small .team-img img{width: 80%}

.teams .card .info {
    margin-top: 1em;
    font-size: 1.3em;
    font-weight: normal;
    display: inline-block;
}

.match a { 
    color: #2c3e50;
    text-decoration: none
}

.reactions img{
    max-width: 30%;
    padding: 1%;
    display: inline-block;
}

.leftNav {
    left: 0;
    background-color:  #ECF0F1;
}

.range{position: sticky}

.teams.small .card {
    border-bottom: 1px solid #EBEBEB;
    box-shadow: 0px 1px 0px #FAFAFA;
    padding: 1.3em;
    background: transparent;
}

.teams.small .home,
.teams.small .away{
    white-space: nowrap;
    overflow: hidden;
    -moz-text-overflow: "…";
    -webkit-text-overflow: "…";
    -ms-text-overflow: "…";
    text-overflow: "…";
}

.teams.small h3{font-size: 1.1em}
.teams.small h2{font-size: 2em}
.teams.small .info{font-size: 1em}
.versus{
    position: absolute;
    font-weight: bold;
    -moz-transform: translate(-50%, -90%);
    -webkit-transform: translate(-50%, -90%);
    -ms-transform: translate(-50%, -90%);
    transform: translate(-50%, -90%);
    font-size: 1.1em;
    top: 50%;
    left: 50%;
}