{% extends "../layouts/default.html" %}

{% block head %}
<style>
    body {
      padding-top: 40px;
      padding-bottom: 40px;
      background-color: #eee;
    }

    .form-signin {
      max-width: 330px;
      padding: 15px;
      margin: 0 auto;
    }
    .form-signin .form-signin-heading,
    .form-signin .checkbox {
      margin-bottom: 10px;
    }
    .form-signin .checkbox {
      font-weight: normal;
    }
    .form-signin .form-control {
      position: relative;
      height: auto;
      -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
              box-sizing: border-box;
      padding: 10px;
      font-size: 16px;
    }
    .form-signin .form-control:focus {
      z-index: 2;
    }
    .form-signin input[type="email"] {
      margin-bottom: -1px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
    .form-signin input[type="password"] {
      margin-bottom: 10px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
</style>
{% endblock %}

{% block body %}
<div class="container">
    <form class="form-signin" method="POST">
        <h2 class="form-signin-heading">Login
          <a class="btn btn-default btn-sm pull-right" href="/">Cancel</a>
        </h2>

        {% if error %}
            <div class="alert alert-danger" role="alert">{{error}}</div>
        {% endif %}

        <label class="sr-only" for="username">Username{{username}}</label>
        <input autofocus="" class="form-control" name="username" id="username" placeholder="Username" type="text" value="{{username}}">
        <label class="sr-only" for="password">Password</label>
        <input class="form-control" name="password" id="password" placeholder="Password" type="password">

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
</div><!-- /container -->
{% endblock %}
