.gameboard {
  border: 5px solid #000;
}

.game-window {
  float: left;
  margin-top: 20px;
}

.control-panel {
  margin-top: 20px;
  padding: 0;
}

.gamesquare {
  fill: #fff;
}

.gopher:hover {
  stroke: #000;
}
