footer.main-footer {
  font-size: 12px;
  background-color: #e7e7e7;
  color: #a7a7a7;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

footer.main-footer a, a:active, a:visited {
  padding-left: 5px;
  padding-right: 5px;
  color: #a7a7a7;
}

footer.main-footer a:hover {
  text-decoration: underline;
}

footer.main-footer img {
  padding-left: 5px;
  padding-right: 5px;
}
