<table id="board" data-js="board">
	<tbody id='board-body'>
		<tr data-js="row8">
			<td data-row="8" data-col="1" class="white"></td>
			<td data-row="8" data-col="2" class="black"></td>
			<td data-row="8" data-col="3" class="white"></td>
			<td data-row="8" data-col="4" class="black"></td>
			<td data-row="8" data-col="5" class="white"></td>
			<td data-row="8" data-col="6" class="black"></td>
			<td data-row="8" data-col="7" class="white"></td>
			<td data-row="8" data-col="8" class="black"></td>
		</tr>

		<tr data-js="row7">
			<td data-row="7" data-col="1" class="black"></td>
			<td data-row="7" data-col="2" class="white"></td>
			<td data-row="7" data-col="3" class="black"></td>
			<td data-row="7" data-col="4" class="white"></td>
			<td data-row="7" data-col="5" class="black"></td>
			<td data-row="7" data-col="6" class="white"></td>
			<td data-row="7" data-col="7" class="black"></td>
			<td data-row="7" data-col="8" class="white"></td>
		</tr>

		<tr data-js="row6">
			<td data-row="6" data-col="1" class="white"></td>
			<td data-row="6" data-col="2" class="black"></td>
			<td data-row="6" data-col="3" class="white"></td>
			<td data-row="6" data-col="4" class="black"></td>
			<td data-row="6" data-col="5" class="white"></td>
			<td data-row="6" data-col="6" class="black"></td>
			<td data-row="6" data-col="7" class="white"></td>
			<td data-row="6" data-col="8" class="black"></td>
		</tr>

		<tr data-js="row5">
			<td data-row="5" data-col="1" class="black"></td>
			<td data-row="5" data-col="2" class="white"></td>
			<td data-row="5" data-col="3" class="black"></td>
			<td data-row="5" data-col="4" class="white"></td>
			<td data-row="5" data-col="5" class="black"></td>
			<td data-row="5" data-col="6" class="white"></td>
			<td data-row="5" data-col="7" class="black"></td>
			<td data-row="5" data-col="8" class="white"></td>
		</tr>

		<tr data-js="row4">
			<td data-row="4" data-col="1" class="white"></td>
			<td data-row="4" data-col="2" class="black"></td>
			<td data-row="4" data-col="3" class="white"></td>
			<td data-row="4" data-col="4" class="black"></td>
			<td data-row="4" data-col="5" class="white"></td>
			<td data-row="4" data-col="6" class="black"></td>
			<td data-row="4" data-col="7" class="white"></td>
			<td data-row="4" data-col="8" class="black"></td>
		</tr>

		<tr data-js="row3">
			<td data-row="3" data-col="1" class="black"></td>
			<td data-row="3" data-col="2" class="white"></td>
			<td data-row="3" data-col="3" class="black"></td>
			<td data-row="3" data-col="4" class="white"></td>
			<td data-row="3" data-col="5" class="black"></td>
			<td data-row="3" data-col="6" class="white"></td>
			<td data-row="3" data-col="7" class="black"></td>
			<td data-row="3" data-col="8" class="white"></td>
		</tr>

		<tr data-js="row2">
			<td data-row="2" data-col="1" class="white"></td>
			<td data-row="2" data-col="2" class="black"></td>
			<td data-row="2" data-col="3" class="white"></td>
			<td data-row="2" data-col="4" class="black"></td>
			<td data-row="2" data-col="5" class="white"></td>
			<td data-row="2" data-col="6" class="black"></td>
			<td data-row="2" data-col="7" class="white"></td>
			<td data-row="2" data-col="8" class="black"></td>
		</tr>

		<tr data-js="row1">
			<td data-row="1" data-col="1" class="black"></td>
			<td data-row="1" data-col="2" class="white"></td>
			<td data-row="1" data-col="3" class="black"></td>
			<td data-row="1" data-col="4" class="white"></td>
			<td data-row="1" data-col="5" class="black"></td>
			<td data-row="1" data-col="6" class="white"></td>
			<td data-row="1" data-col="7" class="black"></td>
			<td data-row="1" data-col="8" class="white"></td>
		</tr>
	</tbody>
</table>
<div id='black-pieces' data-js="pieces-div">

</div>
<div id='white-pieces'>

</div>