{{define "content"}}
<ol class="breadcrumb">
	<li><a href="/">Home</a></li>
	<li class="active">Add Jobs</li>
</ol>
<div class="jumbotron">
	<p>Submit new <a href="http://lukasz-madon.github.io/json-job/">Json-Job</a> file. e.g. <code>https://raw.githubusercontent.com/lukasz-madon/json-job/master/job.json</code></p>
	<form method="POST" class="form">
		<div class="form-group">
			<input name="url" class="form-control input-lg" type="url" id="url" placeholder="URL"/>
		</div>
		<button type="submit" class="btn btn-lg btn-block btn-primary">Add</button>
	</form>
</div>
{{end}}