{{define "content"}}
<h2>Latest jobs</h2>
{{if .jobs}}
	<table class="table">
		<thead>
			<tr>
				<th>Company</th>
				<th>Title</th>
				<th>Type</th>
				<th>Location</th>
				<th>Skills</th>
			</tr>
		</thead>
		<tbody>
		{{range $job := .jobs}}
			<tr>
				<td>{{$job.CompanyName}}</td>
				<td><a href="/job/{{$job.Hash}}">{{$job.Title}}</a></td>
				<td>{{$job.Type}}</td>
				<th>{{$job.Location}}</th>
				<th>
					{{range $i, $skill := $job.Skills}}
						<span class="label label-success">{{$skill}}</span>
					{{end}}
				</th>
			</tr>
		{{end}}
		</tbody>
	</table>
{{else}}
	<div class="alert alert-info" role="alert">Currently there are no published openings.</div>
{{end}}
{{end}}
