{% extends "../layouts/default.html" %}

{% block head %}
    <link rel="stylesheet" href="/static/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
    <style>
    </style>
{% endblock %}

{% block content %}
<div class="container">
    <form id="event-create-form" method="POST">
        <h2 class="form-heading">Create event</h2>

        <div id="form-error" class="alert alert-danger {% if not error %}hide{% endif %}" role="alert">{{error}}</div>

        <div class="form-group">
            <label for="name">Event name</label>
            <input class="form-control" name="name" id="name" placeholder="Enter name" type="text" value="{{name}}">
        </div>
        <div class="form-group">
            <label for="description">Event description</label>
            <textarea name="description" id="description" class="form-control" rows="3">{{description}}</textarea>
        </div>
        <div class="form-group">
            <label for="whenfrom">When</label>
            <div class="row">
                <div class='col-md-6'>
                    <div class="form-group">
                        <div class='input-group date' id='whenfrom-datetimepicker'>
                            <input name="whenfrom" type='text' class="form-control" placeholder="From..." value="{{whenfrom}}" />
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class='col-md-6'>
                    <div class="form-group">
                        <div class='input-group date' id='whento-datetimepicker'>
                            <input name="whento" type='text' class="form-control" placeholder="...To" value="{{whento}}" />
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group wheregroup">
            <label for="name">Where</label>
            <input class="form-control" id="where" placeholder="Enter location" type="text" value="{{whereaddr}}">
            <input data-geo="lat" id="wherelat" name="wherelat" type="hidden" value="{{wherelat}}" />
            <input data-geo="lng" id="wherelng" name="wherelng" type="hidden" value="{{wherelng}}" />
            <input data-geo="formatted_address" id="whereaddr" name="whereaddr" type="hidden" value="{{whereaddr}}" />
        </div>
        <div class="checkbox">
            <label>
                <input name="private" type="checkbox" {% if private %}checked="on"{% endif %} /> Private event?
            </label>
        </div>

        <button id="form-submit" class="btn btn-default" type="submit">Submit</button>
    </form>
</div><!-- /container -->
{% endblock %}

{% block footer_js %}
    <script src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
    <script type="text/javascript" src="/static/bower_components/moment/min/moment.min.js"></script>
    <script type="text/javascript" src="/static/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="/static/bower_components/geocomplete/jquery.geocomplete.min.js"></script>
    <script>
        $(function () {
            $('#whenfrom-datetimepicker, #whento-datetimepicker').datetimepicker({
                minDate: moment(),
                format: 'D MMMM YYYY, HH:mm:ss Z',
                sideBySide: true
            });
            $("#where").geocomplete({
                types: ["geocode", "establishment"],
                details: ".wheregroup",
                detailsAttribute: "data-geo"
            }).on("change", function(event) {
                $("#wherelat, #wherelng, #whereaddr").val("");
            });

            var fakeSubmit = function() {
                if ($("#where").val() === "") {
                    $("#form-submit").parent("form").submit();
                    return
                }

                $("#where").bind("geocode:result", function(event, result){
                    $("#form-submit").parent("form").submit();
                }).bind("geocode:error", function(event, result) {
                    $("#form-error").text("Could not find any location with that address").removeClass("hide")
                })
                $("#where").trigger("geocode");
            };

            $("#form-submit").click(function(e) {
                e.preventDefault();

                fakeSubmit();
            });
            $("#form-submit").parent("form").find("input:not(#where)").keypress(function (e) {
                if (e.which == 13) {
                    e.preventDefault();
                    fakeSubmit();
                }
            });
        });
    </script>
{% endblock %}
