{% extends "../layouts/default.html" %}

{% block head %}
    <style>
    </style>
{% endblock %}

{% block content %}
<div class="container">
    <form id="event-invite-form" method="POST">
        <h2 class="form-heading">Invite user to event</h2>

        <div id="form-error" class="alert alert-danger {% if not error %}hide{% endif %}" role="alert">{{error}}</div>

        <div class="form-group">
            <label for="name">Username</label>
            <input class="form-control" name="username" id="username" placeholder="Enter username" type="text" value="{{username}}">
        </div>

        <button id="form-submit" class="btn btn-default" type="submit">Invite</button>
    </form>
</div><!-- /container -->
{% endblock %}

{% block footer_js %}
{% endblock %}
