{% extends "../layouts/default.html" %}

{% block head %}
    <link rel="stylesheet" href="/static/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
    <style>
        .input-group.location .input-group-addon {
          cursor: pointer;
        }

        .event-meta {
            color: #999;
        }
        .event-meta p {
            margin-bottom: 0;
        }
    </style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        {% if viewType == "UPCOMING" %}
        <h1>Upcoming Events</h1>
        {% elif viewType == "INVITATIONS" %}
        <h1>Invitations</h1>
        {% elif viewType == "HOSTING" %}
        <h1>My Events</h1>
        {% elif viewType == "PAST" %}
        <h1>Past Events</h1>
        {% else %}
        <h1>Events</h1>
        {% endif %}
    </div>

    <div class="event-list event-search-results">
        {% if events|length > 0 %}
            {% for event in events %}
                <div class="panel panel-default">
                    <div class="panel-heading"><a href="/event/{{event.ID}}">{{event.Name}}</a></div>
                    <div class="panel-body">
                        <p>{{event.Description|markdown|truncatewords_html:30}}</p>
                        <div class="event-meta">
                            <p class="small"><strong>When</strong>: {{event.When.From|timestamp|naturaltime}} - {{event.When.To|timestamp|naturaltime}}</p>
                            <p class="small"><strong>Where</strong>: {{event.Where.Address}}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>You have no events</p>
        {% endif %}
    </div>
</div><!-- /container -->
{% endblock %}

{% block footer_js %}
    <script>
    </script>
{% endblock %}
