{% extends "../layouts/default.html" %}

{% block head %}
    <link rel="stylesheet" href="/static/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
    <style>
        .input-group.location .input-group-addon {
          cursor: pointer;
        }

        .event-meta {
            color: #999;
        }
        .event-meta p {
            margin-bottom: 0;
        }
    </style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>Search</h1>
        <form id="event-search-form" method="GET">
            <div id="form-error" class="alert alert-danger {% if not error %}hide{% endif %}" role="alert">{{error}}</div>

            <div class="form-group">
                <input class="form-control" name="query" id="query" placeholder="Search for event..." type="text" value="{{query}}">
            </div>
            <div class="form-group">
                <div class='input-group location'>
                    <input class="form-control" id="where" placeholder="Enter location (optional)" type="text" value="{{addr}}">
                    <span class="input-group-addon"><span id="findme" class="glyphicon glyphicon-map-marker"></span></span>
                    <input data-geo="lat" id="wherelat" name="lat" type="hidden" value="{{lat}}" />
                    <input data-geo="lng" id="wherelng" name="lng" type="hidden" value="{{lng}}" />
                    <input data-geo="formatted_address" id="whereaddr" name="addr" type="hidden" value="{{addr}}" />
                    </span>
                </div>
            </div>

            <button id="form-submit" class="btn btn-primary btn-default" type="submit">Search</button>
        </form>
    </div>

    <div class="event-list event-search-results">
        {% for event in events %}
            <div class="panel panel-default">
                <div class="panel-heading"><a href="/event/{{event.ID}}">{{event.Name}}</a></div>
                <div class="panel-body">
                    <p>{{event.Description|markdown|truncatewords_html:30}}</p>
                    <div class="event-meta">
                        <p class="small"><strong>When</strong>: {{event.When.From|timestamp|naturaltime}} - {{event.When.To|timestamp|naturaltime}}</p>
                        <p class="small"><strong>Where</strong>: {{event.Where.Address}}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div><!-- /container -->
{% endblock %}

{% block footer_js %}
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
    <script type="text/javascript" src="/static/bower_components/moment/min/moment.min.js"></script>
    <script type="text/javascript" src="/static/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="/static/bower_components/geocomplete/jquery.geocomplete.js"></script>
    <script>
        function geoFindMe() {
            var geocoder = new google.maps.Geocoder();

            if (!navigator.geolocation) {
                $("#form-error").text("Geolocation is not supported by your browser").removeClass("hide")
                return;
            }

            function success(position) {
                var latitude = position.coords.latitude;
                var longitude = position.coords.longitude;

                var latlng = new google.maps.LatLng(latitude, longitude);

                geocoder.geocode({'latLng': latlng}, function(results, status) {
                  if (status == google.maps.GeocoderStatus.OK) {
                    if (results[0]) {
                      $("input#where").geocomplete("fillDetails", results[0]);
                      $("input#where").val(results[0].formatted_address);
                    } else {
                      alert('No results found');
                    }
                  } else {
                    alert('Geocoder failed due to: ' + status);
                  }
                });
            };

            function error() {
                $("#form-error").text("Unable to retrieve your location").removeClass("hide")
            };

            navigator.geolocation.getCurrentPosition(success, error);
        }

        $(function () {
            $("#where").geocomplete({
                types: ["geocode", "establishment"],
                details: ".location",
                detailsAttribute: "data-geo"
            }).on("change", function(event) {
                $("#wherelat, #wherelng, #whereaddr").val("");
            });

            $("#findme").click(function(e) {
                e.preventDefault();

                geoFindMe();
            });
        });
    </script>
{% endblock %}
