{% extends "../layouts/default.html" %}

{% block head %}
    <link rel="stylesheet" href="/static/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
    <style>
        .event-meta {
            color: #999;
        }
        .event-meta p {
            margin-bottom: 0;
        }
    </style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>{{event.Name}}</h1>
        <div class="event-actions clearfix">
            <div class="button-group pull-left">
                {% if userEventStatus == "INVITED" %}
                <a id="rsvp-button" class="btn btn-primary" href="/event/{{event.ID}}/rsvp?answer=going" role="button">I want to go</a>
                <a id="rsvp-button" class="btn btn-default" href="/event/{{event.ID}}/rsvp?answer=not_going" role="button">Not going</a>
                {% elif userEventStatus == "NOT_GOING" %}
                <a id="rsvp-button" class="btn btn-default" href="/event/{{event.ID}}/rsvp?answer=going" role="button">I want to go</a>
                {% else %}
                <a id="rsvp-button" class="btn going btn-primary" href="/event/{{event.ID}}/rsvp?answer=not_going" role="button">I'm going</a>
                {% endif %}
            </div>
            <div class="button-group pull-right">
                {% if user_id == event.UserID or userEventStatus == "GOING" %}
                <a id="rsvp-button" class="btn btn-default" href="/event/{{event.ID}}/invite" role="button">Invite</a>
                {% endif %}
                {% if user_id == event.UserID %}
                <a class="btn btn-danger" href="/event/{{event.ID}}/delete" role="button">Delete</a>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-9">
            <p>{{event.Description|markdown}}</p>
            <div class="event-meta">
                <p class="small"><strong>When</strong>: {{event.When.From|timestamp|time:"Mon Jan 2 15:04:05"}} until {{event.When.To|timestamp|time:"Mon Jan 2 15:04:05"}}</p>
                <p class="small"><strong>Where</strong>: {{event.Where.Address}}</p>
                <p class="small"><strong>Host</strong>: {{host.Username}}</p>
            </div>
        </div>
        <div class="col-md-3">
            <div id="map-canvas" style="width: 100%; height: 250px"></div>
        </div>
    </div>
    {% if feed|length > 0 or attendees|length > 0 %}
        <hr />

        <div class="row">
            {% if feed|length > 0 %}
                <div class="col-md-8">
                    <div class="event-activity-feed">
                        <h2>Activity feed</h2>
                    </div>
                </div>
            {% endif %}
            {% if attendees|length > 0 %}
                <div class="col-md-4">
                    <div class="event-attendees">
                        <h2>Attendees</h2>
                        <ul>
                        {% for attendee in attendees %}
                            <li>{{attendee.Username}} {% if attendee.Status.String() == "INVITED" %}(Invited){% endif %}</li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}
        </div>
    {% endif %}
</div><!-- /container -->
{% endblock %}

{% block footer_js %}
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
    <script type="text/javascript" src="/static/bower_components/moment/min/moment.min.js"></script>
    <script type="text/javascript" src="/static/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="/static/bower_components/geocomplete/jquery.geocomplete.js"></script>
    <script>
        $(function () {
            var latLng = new google.maps.LatLng({{event.Where.Lat}}, {{event.Where.Lng}});
            var mapOptions = {
              center: latLng,
              zoom: 14
            };
            var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
            var marker = new google.maps.Marker({
                position: latLng,
                map: map,
            });

            $("#rsvp-button.going").hover(function() {
                $(this).text("Cancel").addClass("btn-warning").removeClass("btn-primary");
            }, function() {
                $(this).text("I'm going").removeClass("btn-warning").addClass("btn-primary");
            });
        });
    </script>
{% endblock %}
