
/* framework override */

.page { 
    background: #23444B;
}


.frontpage {
    text-align: center;
    font-size: 12px;
}

.frontpage .content-block {
    padding: 0 50px;
    color: #7FA7A6;
}

.header {
    font-size: 40px;
    padding-left: 5px;
    margin-top: 60px;
}

.sub-header {
    
    margin-top: -35px;
}

.options {
    margin-top: 220px;
    font-size: 11px

}

.button.active {
background: #fff;
color: #23444B;
}

.button {
border: 1px solid #fff;
color: #fff;
text-decoration: none;
text-align: center;
display: block;
border-radius: 5px;
line-height: 27px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
-webkit-appearance: none;
-moz-appearance: none;
-ms-appearance: none;
appearance: none;
padding: 0 10px;
margin: 0;
height: 29px;
white-space: nowrap;
position: relative;
overflow: hidden;
text-overflow: ellipsis;
font-size: 14px;
font-family: inherit;
cursor: pointer;
}
    
/* custom framework7 */
.popup-button {
    margin-left: 80px;
    margin-right: 80px;
}

/* custom css */
#top,
#bottom {
    position: fixed;
    left: 0;
    right: 0;

}

#top {
    top: 0;
    background-color: #D3EBD3;
    height: 150px;
}
	

.wud-icon {
  background: #23444B;
  margin-left: auto;
  margin-right: auto;
    margin-top: 25px;
  width: 72px;
  height: 72px;
  border-radius: 10px;
  overflow:hidden;
  /* border: solid 6px #666; */
  position: relative;
  -webkit-box-shadow: 1px 2px 10px 1px rgba(0, 0, 0, .2);
  -moz-box-shadow: 1px 2px 10px 1px rgba(0, 0, 0, .2);
  box-shadow: 1px 2px 10px 1px rgba(0, 0, 0, .2);
  z-index: 10;
}

.wud-icon .text {
  font: bold 50px Tahoma;
    margin-top: 5px;
  text-align:center;
  z-index: 200;
  position: relative;
  color: #D3EBD3;
}
