{{define "about"}}{{template "header"}}{{template "nav"}}
<div>
<div  style="margin-left:245px; margin-top:150px;">
<p>
<H2>Team</h2>
<a href="https://github.com/worg">Hiram J. Pérez</a></br>
<a href="https://github.com/OscarRyz">Oscar Reyes</a>
</p>
  <p>This webapp displays the schedules for sport games in a simple way. Most of the sports sites are oversaturated with information which distracts the user from what it needs to know: <strong>When is the next match!?</strong> As simple as that. </p>

<p>With the Go programming language we were able to create a full (yet) simple website in a couple of hours</p>

<h1>
<a id="user-content-day-1-night" class="anchor" href="#day-1-night" aria-hidden="true"><span class="octicon octicon-link"></span></a>Day 1 (night)</h1>

<p>We had these wireframe in the first day and we talk about what we want the website to do:<br>
<img alt="wireFrameA" src="http://nextmatch.koding.io/static/img/wireFrameA.png" width="400"><br>
<img alt="wireFrameB" src="http://nextmatch.koding.io/static/img/wireFrameB.png" width="400"></p>

<h1>
<a id="user-content-day-2" class="anchor" href="#day-2" aria-hidden="true"><span class="octicon octicon-link"></span></a>Day 2</h1>

<p>The next day we search for service providers to get games information, and photos from the game. 
Go excellent support for client http allowed us to create very simple and efficient clients to the two providers that we found: xmlstats.com for the game data and instagram for "reactions" of the game</p>

<h1>
<a id="user-content-day-3" class="anchor" href="#day-3" aria-hidden="true"><span class="octicon octicon-link"></span></a>Day 3</h1>

<p>This is a standalone web application that uses Go built in http server to handle client connections. Controllers, handlers, templates! you name it, Go has it everything, or almost everything, we use the help of Gorilla toolkit to created the mutexes.</p>

<p>Result:</p>

<p><img  alt="Main page" src="http://nextmatch.koding.io/static/img/main.png" width="400"><br>
<img  alt="Main page" src="http://nextmatch.koding.io/static/img/detail.png" width="400"></p>
</div>
</div>
{{template "footer"}}{{end}}
