<!DOCTYPE html>
<html lang="en">
<head>
  {{template "head.html"}}
</head>
<body>
  {{template "navbar.html"}}

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-header">
          <h1>Add a Package</h1>
        </div>
      </div>
    </div>

    {{if .PackageName }}
      <div class="row">
        <div class="col-md-12">
          <p>
            Package <em>{{.PackageName}}</em> will be added to index soon. You
            can play with search engine meanwhile <a href="/">here</a>
          </p>
        </div>
      </div>
    {{else}}
      <div class="row">
        <div class="col-md-12">
          <p>
            Ging generates documentation from Go source code, like GoDoc. Use this
            input to add a package to Ging.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <form class="package-form form-inline" method="post" action="/package/add">
            <div class="form-group">
              <label class="sr-only" for="package"></label>
              <input name="package" type="text" class="form-control" id="package" placeholder="github.com/bitly/go-simplejson">
            </div>
            <button type="submit" class="btn btn-default">Add</button>
          </form>
        </div>
      </div>
    {{end}}
  </div>

  {{template "scripts.html"}}
</body>
</html>
