<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <form class="form-inline" method="post" action="/query">
          <div class="form-group">
            <label class="sr-only" for="query">Query</label>
            <input id="query" name="query" type="search" class="form-control" placeholder="Enter a query" value="{{if .QueryValue}}{{.QueryValue}}{{end}}">
            <button id="submitQuery" type="submit" class="btn btn-primary">Search</button>
          </div>
        </form>
      </div>
      <div class="col-md-12 subtitle">
      {{if .Subtitle}}
        <p>{{.Subtitle}}</p>
      {{end}}
      </div>
    </div>
  </div>
</div>
