<!DOCTYPE HTML>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  </head>
  <body>
    <!-- top navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
       <div class="container">
         <div class="navbar-header">
           <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".sidebar-nav">
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
           </button>
         </div>
       </div>
    </div>

    <div class="row row-offcanvas row-offcanvas-left">
        <!-- sidebar -->
      <div class="col-xs-3 col-sm-2 sidebar-offcanvas" id="sidebar" role="navigation">
        <div id="logo-wrapper">
          <img src="/img/smash_logo.png" />
        </div>
        <h3> Filter </h3>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="Melee"> Melee
          </label><br>
          <label>
            <input type="checkbox" name="Project M"> Project M
          </label><br>
          <label>
            <input type="checkbox" name="SSB4"> SSB4
          </label><br>
          <label>
            <input type="checkbox" name="64"> N64
          </label>
        </div>
        <a id="reddit-comment" href="#">
          <h4>View Reddit Thread</h4>
        </a>
      </div>

      <div class="column col-xs-9 col-sm-10">
        <div class="container">
          <div class="page-header">
            <h2> Loading. Refresh if it doesn't load... </h2>
          </div>
          <div class="jumbotron transparent">
            <div class="container contentWrapper">
            </div>
          </div>
          <div id="next">
            <div class="btn btn-primary next-button">
              Press Space
            </div><br>
          </div>
          <div id="gfycat-url">
            <span> SHARE </span> <input readonly>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>
   (function(d, t) {
      var g = d.createElement(t),
          s = d.getElementsByTagName(t)[0];
      g.src = 'http://assets.gfycat.com/js/gfyajax-0.517d.js';
      s.parentNode.insertBefore(g, s);
  }(document, 'script'));
  </script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-47938100-6', 'auto');
    ga('send', 'pageview');

  </script>
  <script type="text/javascript" src="lib/jquery-1.11.2.min.js"></script>
  <script type="text/javascript" src="js/script.js"></script>
</html>
