html, body, .content, .flex-container{
 	height: 100%; 
}
.content{
	margin: 0;
}
.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
}
.flex-item {
  background: darkorange;
  text-align: center;
	border: 1px solid cornflowerblue;
	box-sizing: border-box;
}
/* one item */
.flex-item:first-child:nth-last-child(1) {
    width: 100%;
		height: 100%;
}
/* two items */
.flex-item:first-child:nth-last-child(2),
.flex-item:first-child:nth-last-child(2) ~ li{
    width: 50%;
    height: 100%;
}
/* four items */
.flex-item:first-child:nth-last-child(3),
.flex-item:first-child:nth-last-child(3) ~ li ,
.flex-item:first-child:nth-last-child(4),
.flex-item:first-child:nth-last-child(4) ~ li {
    width: 50%;
    height: 50%;
}
/* five-six items */
.flex-item:first-child:nth-last-child(3) ~ .flex-item:nth-child(3),
.flex-item:first-child:nth-last-child(5) ~ .flex-item:nth-child(4),
.flex-item:first-child:nth-last-child(5) ~ .flex-item:nth-child(5){
	flex-grow: 2;
}
.flex-item:first-child:nth-last-child(5),
.flex-item:first-child:nth-last-child(5) ~ li ,
.flex-item:first-child:nth-last-child(6),
.flex-item:first-child:nth-last-child(6) ~ li {
    width: 33.333333%;
    height: 50%%;
}
header, footer, h2{
	display: none;
}
