<h5>
	New Session
	<small>Convert a new file</small>
</h5>
<form class="col-md-12">
	<ol>
		<li>
			<div class="form-group">
				<label ><h5>Select File</h5></label>
				<input type="file" nv-file-select uploader="uploader" class="form-control" />
				<div ng-show="uploader.queue.length > 0">
					<div class="panel panel-default" ng-repeat="item in uploader.queue">
						<div class="panel-heading">
							<h3 class="panel-title">{{item.file.name}}</h3>
						</div>
						<div class="panel-body">


							<div class="row">

								<div class="col-md-4">
									<h4>Details</h4>
									<dl>
										<dt>File Name</dt>
										<dd>{{item.file.name}}</dd>
									</dl>
									<dl>
										<dl>
											<dt>File Type</dt>
											<dd>{{item.file.type}}</dd>
										</dl>
										<dl>
											<dt>File Size</dt>
											<dd>{{item.file.size | bytes }}</dd>
										</dl>
									</div>
									<div class="col-md-4">

										<button ng-click="upload(item)" class="btn btn-primary btn-sm btn-block">Upload</button>
										<div ng-show="uploader.isHTML5">
											<div class="progress prg" >
												<div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }">
													{{item.progress + '%' }}
												</div>
											</div>
										</div>
									</div>

								</div>

							</div>
						</div>
					</div>
				</div>
			</li>
		</ol>

	</form>


