<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link href='//fonts.googleapis.com/css?family=Ubuntu+Mono' rel='stylesheet' type='text/css'>
    <link href='/static/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
    <link href='/static/css/bootstrap-theme.min.css' rel='stylesheet' type='text/css'>
    <link href='/static/css/site.css' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <header class="container">
      <div class="row">
	<div class="col-md-4">
	  <h3>{{.Title}}</h3>
	</div>
	<div class="col-md-8 text-right">
	  <h3>Welcome fake login info</h3>
	</div>
      </div>
    </header>
  <body>
    <div class="container">
      <div class="row">
	<div id="directory" class="col-md-4">
	  <ul class="list-unstyled">
	    {{ range $key, $value := .Directory }}
	    <li><a href="/{{if $value}}dir{{else}}edit{{end}}/{{ $key }}">
		{{ $key }}</a>
	    </li>
	    {{end}}
	  </ul>
	</div>
	<div id="editor" class="col-md-8">
	  <form action="/todo/{{.Title}}" method="POST">
	    <div class="form-group">
	      <p>TODO: some options for creating, deleting, and updating files</p>
	    </div>
	    <div class="form-group">
	      <!--<input type="submit" value="Save" class="btn btn-default">-->
	    </div>
	  </form>
	</div>
      </div>
    </div>
  </body>
  <!--<footer>
      temp footer
      </footer>-->
  </body>
</html>

