{{ define "css" }}
    <link rel="stylesheet" type="text/css" href="/media/css/index.css">
{{ end }}
{{ define "js" }}
    <script src="/media/js/index.js"></script>
{{ end }}
{{ define "content" }}
	<div class="ui inverted masthead segment">
    <div class="ui page grid">
      <div class="column">
        <div class="ui hidden transition information">
        	<h1 class="ui inverted header">
            	Find A Parking
        	</h1>
          	<p>Find and shares parks for you car in the city</p>
 			<a href="home">
	 			
	  				<div class="ui inverted basic button">Look inside</div>
	  			

			</a>
        
        </div>
      </div>
    </div>
  </div>
  <div class="ui vertical feature segment">
    <div class="ui centered page grid">
      <div class="fourteen wide column">
        <div class="ui two column center aligned stackable divided grid">
          <div class="column">
            <div class="ui icon header">
              <i class="car icon"></i>
              Park
            </div>
            <p>Find the place to park and dont suffer</p>

          </div>

          <div class="column">
            <div class="ui icon header">
              <i class="user icon"></i>
              Community
            </div>
            <p>Share parkings and rent your park if you want.</p>

          </div>
        </div>
      </div>
    </div>
  </div>



{{ end }}