<!DOCTYPE html>
<html>
<head>
  <title>{{.Title}} - Log In</title>
</head>
<body>
	<form method="post" action="/dashboard/login/post">
		Username<br />
		<input type="text" name="login" value="{{.Login}}" autofocus /><br />
		<br />
		Password<br />
		<input type="password" name="password" /><br />
		<input type="submit" />
		{{if .Login}}
		Invalid username or password. 
		{{end}}
	</form>	
</body>
</html>
