<div id="main-content" class="main-content">
  <div id="primary" class="content-area">
    <div id="content" class="site-content" role="main">

      <!--<?php if ( have_posts() ) : ?>

      <?php twentyeleven_content_nav( 'nav-above' ); ?>

      <?php /* Start the Loop */ ?>
      <?php while ( have_posts() ) : the_post(); ?>

      <?php get_template_part( 'content', get_post_format() ); ?>

      <?php endwhile; ?>

      <?php twentyeleven_content_nav( 'nav-below' ); ?>

      <?php else : ?>-->

      <!-- TODO: filter drafts -->
      {{ range $article := .Articles }}
        <article id="post-{{$article.Id}}" class="post-{{$article.Id}} post type-post status-publish format-standard hentry category-uncategoryized">
          <header class="entry-header">
            <h1 class="entry-title"><a href="/post/{{$article.Id}}" rel="bookmark">{{$article.Title}}</a></h1>
            <div class="entry-meta">
              <span class="entry-date"><a href="/post/{{$article.Id}}" rel="bookmark">{{$article.PostDate}}</a></span>
              <span class="byline"><span class="author vcard"><a class="url fn n" href="/author/{{$article.UserId}}" rel="author">some author</a></span></span>
              <span class="comments-link"><a href="/post/{{$article.Id}}#respond" title="Comment on st00f">Leave a comment</a></span>
            </div><!-- .entry-meta -->
          </header><!-- .entry-header -->

          <div class="entry-content">
            {{$article.ContentAsHTML}}
          </div><!-- .entry-content -->
        </article><!-- #post-## -->
      {{ end }}

      <!--<article id="post-0" class="post no-results not-found">
      <header class="entry-header">
      <h1 class="entry-title"><?php _e( 'Nothing Found', 'twentyeleven' ); ?></h1>
      </header>

      <div class="entry-content">
      <p><?php _e( 'Apologies, but no results were found for the requested archive. Perhaps searching will help find a related post.', 'twentyeleven' ); ?></p>
      <?php get_search_form(); ?>
      </div>
      </article>

      <?php endif; ?>-->
    </div><!-- #content -->
  </div><!-- #primary -->
</div><!-- #main-content -->

<div id="secondary">
  <h2 class="site-description">{{ bloginfo "blogdescription" }}</h2>

  <div id="primary-sidebar" class="primary-sidebar widget-area" role="complementary">
    <aside id="search-2" class="widget widget_search">
      <form role="search" method="get" class="search-form" action="/search">
        <label>
          <span class="screen-reader-text">Search for:</span>
          <input type="search" class="search-field" placeholder="Search &hellip;" value="" name="s" title="Search for:" />
        </label>
        <input type="submit" class="search-submit" value="Search" />
      </form>
    </aside>

    <aside id="recent-posts-2" class="widget widget_recent_entries">
      <h1 class="widget-title">Recent Posts</h1>
      <!-- TODO: get this from .Articles -->
      <ul>
        <li><a href="/post/1">Zezima</li>
      </ul>
    </aside>

    <aside id="recent-comments-2" class="widget widget_recent_comments">
      <h1 class="widget-title">Recent Comments</h1>
      <ul id="recentcomments">
        <li class="recentcomments">
          <a href="http://wordpress.org" rel="external nofollow" class="url">Mr WordPress</a> on <a href="/post/1#comment-1">Hello world!</a>
        </li>
      </ul>

      <aside id="archives-2" class="widget widget_archive">
        <h1 class="widget-title">Archives</h1>
        <ul>
          <li><a href="/archive/january-2015">Janaury 2015</a></li>
        </ul>
      </aside>

      <aside id="categories-2" class="widget widget_categories">
        <h1 class="widget-title">Categories</h1>
        <ul>
          <li class="cat-item cat-item-1">
            <a href="/categories/uncategorised" title="View all posts filed under Uncategorized">Uncategorized</a>
          </li>
        </ul>
      </aside>

      <aside id="meta-2" class="widget widget_meta">
        <h1 class="widget-title">Meta</h1>
        <ul>
          <li>
            <a href="/dashboard">Log in</a>
          </li>
          <li>
            <a href="/?feed=rss2" title="Syndicate this site using RSS 2.0">Entries <abbr title="Really Simple Syndication">RSS</abbr></a>
          </li>
          <li>
            <a href="/?feed=comments-rss2" title="The latest comments to all posts in RSS">Comments <abbr title="Really Simple Syndication">RSS</abbr></a>
          </li>
          <li>
            <a href="http://wordpress.org/" title="Powered by WordPress, state-of-the-art semantic personal publishing platform.">WordPress.org</a>
          </li>
        </ul>
      </aside>
    </div><!-- #primary-sidebar -->
  </div><!-- #secondary -->
</div><!-- #main -->
