html {
  height: 100%;
}

body {
  height: 100%;
  background-image: url("../img/background.png");
}

.jumbotron.transparent {
  background-color: rgba(255, 255, 255, 0);
}

.page-header {
  padding: 0 20px 0 20px;
  text-align: center;
}

#next {
  margin: 0 auto 0 auto;
  width: 80px;
}

#next .next-button {
  background-color: #6441a5;
  border-radius: 0;
}

#logo-wrapper img {
  width: 90%;
  padding-bottom: 10px;
}

#gfycat-url {
  width: 40%;
  margin: 10px auto 0 auto;
}

#gfycat-url span {
  color: #6441a5;
}

#gfycat-url input {
  width: 60%;
}

/**
 * Navbar
 */
.navbar-default.navbar {
  border: 0;
  background-color: rgba(255, 255, 255, 0);
}

.navbar-header > navbar-toggle {
  border: 0;
  background-color: rgba(255, 255, 255, 0);
}

#reddit-comment {
  color: #666676;
}

.row.row-offcanvas {
  height: 100%;
}

#sidebar h3, #sidebar .checkbox {
  color: #8c8c9c;
}

/**
 * Sidebar
 */
#sidebar {
  display: block;
  background-color: #000;
  height: 100%;
  padding-right: 0;
  padding-left: 30px;
  padding-top: 20px;
  position: relative;
}
#sidebar .nav {
  width: 95%;
}
#sidebar li {
  border:0 #f2f2f2 solid;
}

/* collapsed sidebar styles */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -41.6%;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -41.6%;
  }
  .row-offcanvas-right.active {
    right: 41.6%;
  }
  .row-offcanvas-left.active {
    left: 41.6%;
  }
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 41.6%;
  }
  #sidebar {
    padding-top:0;
    position: absolute;
  }
}
/**
 * Styling to center the GIF
 */
.gfyitem {
  width: 100%;
}

.gfyitem > div {
  display: block;
  margin: 0 auto 0 auto;
}
