<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Collaborative Writing on the web way.">
        <title>{{.i18n.coditor}}</title>

        <link rel="stylesheet" href="{{.conf.StaticServer}}/static/css/base.css?{{.conf.StaticResourceVersion}}">
        <link rel="stylesheet" href="{{.conf.StaticServer}}/static/css/dialog.css?{{.conf.StaticResourceVersion}}">
        <link rel="stylesheet" href="{{.conf.StaticServer}}/static/css/coditor.css?{{.conf.StaticResourceVersion}}">
        <link rel="stylesheet" href="{{.conf.StaticServer}}/static/css/themes/dark.css?{{.conf.StaticResourceVersion}}">

        <link rel="stylesheet" href="{{.conf.StaticServer}}/static/js/lib/codemirror-4.12/codemirror.css">
        <link rel="stylesheet" href="{{$.conf.StaticServer}}/static/js/lib/codemirror-4.12/theme/3024-night.css">
    </head>
    <body>
        <div class="content">
            <div class="side">
                <div class="tabs">
                    <div class="current" data-index="file">
                        <span title="File">File</span>
                    </div>
                    <div data-index="share">
                        <span title="Share">Share</span>
                    </div>
                </div> 
                <div class="tabs-panel">
                    <div data-index="file">
                        <div id="files"></div>
                        <div class="frame">
                            <ul>
                                <li onclick="side.new();">
                                    <span class="ico-new font-ico"></span> Create File
                                </li>
                                <li onclick="side.open(coditor.workspace + '\\' + $.trim($('#files li.current').text()));">
                                    <span class="ico-open font-ico"></span> Open
                                </li>
                                <li onclick="side.remove();">
                                    <span class="ico-remove font-ico"></span> Remove
                                </li>
                                <li onclick="side.rename();">
                                    <span class="space"></span> Rename
                                </li>
                                <li class='share' onclick="side.share();">
                                    <span class="ico-redo font-ico"></span> Share
                                </li>
                                <li class="unshare" onclick="side.unshare();">
                                    <span class="ico-undo font-ico"></span> Unshare
                                </li>
                                <li onclick="side.getDocURL()">
                                    <span class="ico-share font-ico"></span> Doc URL
                                </li>
                            </ul>
                        </div>
                        <div id="filesNewMenu" class="frame">
                            <ul>
                                <li onclick="side.new();">
                                    <span class="ico-new font-ico"></span> Create File
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="fn-none" data-index="share">
                        <div id="shareFiles"></div>
                        <div class="frame">
                            <ul>
                                <li onclick="side.open($.trim($('#shareFiles li.current').text()));">
                                    <span class="ico-open font-ico"></span> Open
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main">
                <div class="menu fn-clear">
                    <div class="fn-left">
                    </div>
                    <div class="fn-right">
                        <span class="font-ico ico-share" title="share"></span> &nbsp;
                        <span onclick="window.open('https://github.com/gophergala/CoditorX')"
                              class="font-ico ico-github"  title="github"></span>&nbsp;
                        <img class="gravatar"
                             onerror="this.src=\'/static/images/user-thumbnail.png\'"
                             src="https://secure.gravatar.com/avatar/{{.gravatar}}?s=17&d=https://symphony.b3log.org/images/user-thumbnail.png"
                             title="{{.currentuser.Username}}">
                        <span class="font-ico ico-signout" title="sign out" onclick="menu.exit();">  </span>
                        <div class="share-panel frame">
                            <span title="Email" class="font-ico ico-email"></span>
                            <span title="Twitter" class="font-ico ico-twitter"></span>
                            <span title="Facebook" class="font-ico ico-facebook"></span>
                            <span title="G+" class="font-ico ico-googleplus"></span>
                            <span title="微博" class="font-ico ico-weibo"></span>
                            <span title="腾讯微博" class="font-ico ico-tencent"></span>
                        </div>
                    </div>
                </div>
                <div class="welcome">
                    CoditorX 
                </div>
                <div class="content fn-none">
                    <textarea id="editor"></textarea>
                    <div class="preview"></div>  
                </div>
            </div>
        </div>
        <div id="dialogRemoveConfirm" class="fn-none">
            Deleted <b></b>?
        </div>
        <div id="dialogUnshareConfirm" class="fn-none">
            Unshare <b></b>?
        </div>
        <div id="dialogAlert" class="fn-none"></div>
        <div id="dialogShare" class="fn-none"></div>
        <div id="dialogRenamePrompt" class="dialog-prompt fn-none">
            <input type="text"/>
        </div>
        <div id="dialogNewFilePrompt" class="dialog-prompt fn-none">
            <input type="text"/>
        </div>

        <script>
                    var conf = {{.conf}};
                    var sessionId = {{.session.ID}};
                    var sessionUsername = {{.session.Username}};
                    var color = {{.session.Color}};
                    var i18n = {{.i18n}};
                    var workspace = {{.workspace}};
                    var pathSeparator = {{.pathSeparator}};
                    var userName = '{{.currentuser.Username}}';
                    function newRequest() {
                    return {
                    sid: coditor.sessionId
                    };
                    }
        </script>

        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/lib/jquery-2.1.1.min.js?{{.conf.StaticResourceVersion}}"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/lib/reconnecting-websocket.js?{{.conf.StaticResourceVersion}}"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/lib/codemirror-4.12/codemirror.js"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/lib/codemirror-4.12/mode/meta.js"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/lib/codemirror-4.12/mode/markdown/markdown.js"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/lib/diff/diff_match_patch.js?{{.conf.StaticResourceVersion}}"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/lib/markdown.js?{{.conf.StaticResourceVersion}}"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/dialog.js?{{.conf.StaticResourceVersion}}"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/tabs.js?{{.conf.StaticResourceVersion}}"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/menu.js?{{.conf.StaticResourceVersion}}"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/side.js?{{.conf.StaticResourceVersion}}"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/session.js?{{.conf.StaticResourceVersion}}"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/notification.js?{{.conf.StaticResourceVersion}}"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/editor.js?{{.conf.StaticResourceVersion}}"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/coditor.js?{{.conf.StaticResourceVersion}}"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/doc.js?{{.conf.StaticResourceVersion}}"></script>
    </body>
</html>