<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<h2> login:</h2>
<br/>

<form action="/login" method="post">

   name :    <input type="text" name="name" id="name"/>
   password: <input type="text" name="password" id="password"/>
    <input type="submit" name="" id="" value="submit"/>

</form>


<hr/>

<h2> signup</h2>
<form action="/signup" method="post">

   name :    <input type="text" name="name" id="username"/>
   password: <input type="text" name="password" id="password"/>
   passwordagain: <input type="text" name="" id="passwordagain"/>
   email: <input type="text" name="email" id="email"/>

    <input type="submit" name="" id="" value="submit"/>

</form>



</body>
</html>