<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>CoditorX - {{.i18n.coditor_title}}</title>
        
        <meta name="keywords" content="Golang,B3log, Login"/>
        <meta name="description" content="CoditorX is an in-browser text editor for multiple players collaborating."/>
        <meta name="author" content="B3log">
        
        <link rel="stylesheet" href="{{.conf.StaticServer}}/static/css/base.css?{{.conf.StaticResourceVersion}}">
        <link rel="stylesheet" href="{{.conf.StaticServer}}/static/css/sign.css?{{.conf.StaticResourceVersion}}">
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    </head>
    <body>
        <div class="header">
            <div class="wrapper fn-clear">
                <a href="/login" rel="login">
                    <img title="CoditorX" src="{{.conf.StaticServer}}/static/images/logo-bg.png"
                         class="logo"/></a>
                <ul class="fn-right">
                    <li><button class="btn" onclick="window.location.href = '/signup'">{{.i18n.sign_up}}</button></li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="wrapper fn-clear">
                <div class="fn-left">
                    <h2>Edit document</h2>
                    <h2>better, together.</h2>
                    <h3>Collaborative Writing on the web way.</h3>
                </div>
                <div class="form fn-right">
                    <div id="msg" class="fn-none"></div>
                    <input id="username" placeholder="Username" type="text" /><br/>
                    <input id="password" type="password" placeholder="Password"/><br/>
                    <button id="loginBtn" class="btn-white btn">{{.i18n.login}}</button>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="wrapper">
                Ver {{.ver}}, &copy; {{.year}} <a rel="copyright" href="http://b3log.org" target="_blank">B3LOG.ORG</a>
            </div>
        </div>

        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/lib/jquery-2.1.1.min.js"></script>
        <script type="text/javascript">
(function () {
    var contentH = $(window).height() - $(".footer").height() - $(".header").height() - 18;
    $(".content").height(contentH)
            .css("padding-top", (contentH - $(".content .fn-left").height()) / 2 + "px");

    var login = function () {
        var username = $.trim($("#username").val());
        var password = $.trim($("#password").val());
        
        if (username === "") {
            $("#msg").text("{{.i18n.login_error}}").show();
            $("#username").focus();
            return false;
        } else if (password === "") {
            $("#msg").text("{{.i18n.login_error}}").show();
            $("#password").focus();
            return false;
        }

        var request = {
            username: username,
            password: password
        };

        $.ajax({
            type: 'POST',
            url: '/login',
            data: JSON.stringify(request),
            dataType: "json",
            success: function (data) {
                if (!data.succ) {
                    $("#msg").text('{{.i18n.login_error}}').show();
                    return;
                }

                window.location.href = "/";
            }
        });
    };

    $("#username").keydown(function (event) {
        if (event.which === 13) {
            if ($.trim($(this).val()) === "") {
                $("#msg").text("{{.i18n.login_error}}").show();
            } else {
                $("#password").focus();
            }
        } else {
            $("#msg").hide();
        }
    }).focus();


    $("#password").keydown(function (event) {
        if (event.which === 13) {
            if ($.trim($(this).val()) === "") {
                $("#msg").text("{{.i18n.login_error}}").show();
            } else {
                login();
            }
        } else {
            $("#msg").hide();
        }
    });

    $("#loginBtn").click(function () {
        login();
    });
})();
        </script>        
    </body>
</html>
