<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>{{.fileName}} - {{.owner}}</title>
        <link rel="stylesheet" href="{{.conf.StaticServer}}/static/css/base.css?{{.conf.StaticResourceVersion}}">
        <link rel="stylesheet" href="{{.conf.StaticServer}}/static/css/sign.css?{{.conf.StaticResourceVersion}}">
    </head>
    <body style="background-color: #DCDADB;">
        <div class="header" style="border-bottom: 1px solid #919191;background-color: #202021;">
            <div class="wrapper fn-clear">
                <a href="/login" rel="login">
                    <img title="CoditorX" src="{{.conf.StaticServer}}/static/images/logo.png"
                         class="logo"/></a>
                <ul class="fn-right">
                    <li><button class="btn" onclick="window.location.href = '/signup'">Sign Up</button></li>
                </ul>
            </div>
        </div>
        <div class="content-view">
            {{.content}}
        </div>
    </body>
</html>