<div>
    <table>
        <tr>
            <td>File Name: </td>
            <td><input class='fileName' type="text" readonly/></td>
        </tr>
        <tr>
            <td>Editors: </td>
            <td><input class="editors" type="text"/></td>
        </tr>
        <tr>
            <td>Doc URL:  </td>
            <td><b><a href="" target="_blank" class="publicView"></a></b></td>
        </tr>
        <tr>
            <td>Is Public: </td>
            <td><input class="isPublic" type="checkbox" checked="" value="1"/></td>
        </tr>
        <tr class="viewers">
            <td>Viewers:</td>
            <td>
                 <input class="viewersInp" type="text"/>
            </td>
        </tr>
    </table>
</div>