@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,400);
@import url(http://fonts.googleapis.com/css?family=Dancing+Script:700);
@import url(http://fonts.googleapis.com/css?family=Courgette);

html {font-size: 120%;}
body {font-size:1.05rem; margin:0px; padding:0px; line-height:1.65; font-family:"Open Sans", "Lucida Grande", "Exo 2","Lato","Merriweather","Verdana",Arial,sans-serif,"MS UI Gothic",serif; color:#330000;}
code,pre {font-family:Menlo,Monaco,Consolas,"Courier New","Liberation Mono","Andale Mono","Lucida Console",monospace;}
p {margin:0em 0em .5em 0em;}
hr {border-width:1px 0px 0px 0px; border-style:solid; border-color:#d0d0d0;}
hr.spt {clear:both; border-width:30px 0px; border-style:solid; margin-top:15px; border-color:#eeeeee;}
img {border:0px;}
img.align-left {margin:1em;}
img.align-right {margin:1em; float:right;}
img.face {box-shadow: rgba(0,0,0,0.35) 0 1px 5px; border:#ffffff 0.3em solid; border-radius: 0.3em; margin:0em 0em 0.5em 0.5em;}
a.image-reference:visited {color:#ffffff;}
a {color:#000000;}
a:visited {color:#000000;}
a:hover {color: #ffffff; background-color:#2f4f4f;}
a.amazon-link {
    font-size: 70%;
    color: #c0c0c0;
}
a.amazon-link:hover {color: #2f4f4f; background-color:#ffffff;}
.bookmark img {margin:0px;}
.bookmark a {color:#000000;}
.bookmark a:hover {background-color:#ffffff;}
ul {padding-left:1em; margin: 7px;}
#all {}
#top a:link {color:#000000;}
#top a:visited {color:#000000;}
#top img {border:15px black solid;}
#footer-mobile {background-color:#f6f6f6; border-top: 1px solid #c0c0c0; clear:both; text-align:center; font-size: 90%; padding:20px 0 0; height:80px; margin:30px 0 0;}
#footer {background-color:#f6f6f6; border-top: 1px solid #c0c0c0; clear:both; text-align:center; font-size: 90%; padding:10px 0px 0px 0px; height:200px; margin:100px 0 0;}
#footer a {color:#777777; text-decoration:none; font-weight:800;}
#footer a:hover {color:#002222; background-color:#f6f6f6; text-decoration:none; font-weight:800;}
#footer ul a {display:block; padding:2px 5px 2px 5px; text-decoration:none;}
.footer-bottom { font-size: 90%; margin: 80px 0 0;}
#header-mobile { background-color:#000000; text-align: center; font-family:"Dancing Script", Arial, Helvetica,Meiryo;}
#header-mobile a:link {color:#ffffff; text-decoration:none; background-color:transparent;}
#header-mobile a:hover {color:#ffffff; text-decoration:none; background-color:transparent;}
#header-mobile a:visited {color:#ffffff; text-decoration:none; background-color:transparent;}
#header {border-top: 3px solid #2f4f4f; font-family: "Dancing Script", cursive; font-size: 150%;}
#header a:link {color:#2f4f4f; text-decoration:none; background-color:transparent;}
#header a:hover {color:#2f4f4f; text-decoration:none; background-color:transparent;}
#header a:visited {color:#2f4f4f; text-decoration:none; background-color:transparent;}
#header img {position:relative; left:-180px;}
#footnote table {border:0px solid; border-collapse:collapse; border-spacing:0px;}
h1.title {
    line-height: 5.5em;
    margin-top:0px;
}
div.book-title {
    font-size: 120%;
}
.author {
    font-size: 80%;
    color: #666666;
}
.added-date {
    font-size:80%;
    color:#c0c0c0;
    float: left;
    font-family:"Courgette";
}
blockquote.clip {
    font-family:"Courgette";
    font-size: 120%;
    font-style: italic;
    margin:1.5em 0.5em;
    padding: 1em 2.0em;
    color: #a0a0a0;
    position: relative;
    z-index:1;
}
blockquote.clip:before {
    content: "“";
    font-size: 370%;
    line-height: 1em;
    position: absolute;
    left: -0.1em;
    top: 0;
    color: #f0f0f0;
    z-index:-1;
}
blockquote.clip:after {
    content: "„";
    font-size: 370%;
    line-height: 1em;
    position: absolute;
    right: 0.3em;
    bottom: 0;
    color: #f0f0f0;
}
.article-footer {font-size:small; text-align:right; margin:0; padding:0; margin-left:2em;}

#content { margin: 0 20px 0 20px; text-align: left; /*width: 645px;*/}
#content-mobile { margin: 0 0.5em 0 0.5em; text-align: left; /*width: 645px;*/}
#inner-content { margin: 0 auto; width: 800px; text-align: center;}
#inner-content-mobile { margin: 0 auto; width: 100%; text-align: center;}

.grid1, .grid2, .grid3, .grid4, .grid5, .grid6, .grid7, .grid8, .grid9, .grid10, .grid11 {
  float: left;
  display: inline;
  margin-left: 20px;
}
.grid1 {width: 8%;}
.grid2 {width: 15%;}
.grid3 {width: 23%;}
.grid4 {width: 30%;}
.grid6 {width: 48%;}
.first {margin-left: 0;clear: left;}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.entry-content {margin-bottom:4.5em}
.article img {margin:0}
.operation {text-align:right; font-size:small; margin-right:1em; margin-left:1em;}
pre {padding:3px; margin:1px 1px 0px; overflow:auto;border-radius:0 2px 2px 0;-moz-border-radius:0 2px 2px 0;-webkit-border-radius:0 2px 2px 0;}
