{{define "navbar"}}
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="/">GopherPaint</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
        </ul>
        {{if .IsLogged}}
        <p class="navbar-text navbar-right">Signed in as {{.UserName}} <a class="btn btn-warning navbar-btn"
                                                                          href="{{.LogoutURL}}">Logout</a></p>
        {{ end }}
        {{if not .IsLogged}}
        <p class="navbar-text navbar-right"><a href="{{.LoginURL}}">Login with your Google Account</a></p>
        {{ end }}
    </div><!-- /.container-fluid -->
</nav>
{{end}}