body {
	background-color: #111111;
	background-repeat: no-repeat;
	background-image: url("/img/background.png");
	background-position: center top;
}

canvas {
	position: absolute;
}

#mainCanvas {
	left: calc(50% - 575px);
}

#miniMap {
	left: calc(50% + 375px);
}

#health {
	left: calc(50% - 515px);
	top  : 635px;
}

#capture {
	left: calc(50% - 305px);
	top  : 635px;
}

#chat_box {
	position: absolute;

	left: calc(50% + 375px);
	top  : 250px;

	width  : 200px;
	height : 400px;

	border-style: solid;
    border-width: 1px;
	border-color: black;
}

#chat_output {
	width  : 200px;
	height : 375px;

	border-style: solid;
    border-width: 1px;
	border-color: black;
}

#chat_input {
	width  : 200px;
	height : 25px;

	border-style: solid;
    border-width: 1px;
	border-color: black;
}

.popup {
	width: 300px;
	height: 300px;
	background-image: url("/img/popup.png");
	text-align: center;

	padding: 100px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;	
}

#welcome_message {
	z-index: 4;
}

#choose_captain_name {
	z-index: 3;
}

#choose_team {
	z-index: 2;
}

.done {
	-webkit-transition: 3s;
	-moz-transition: 3s;
	-ms-transition: 3s;
	-o-transition: 3s;
	transition: 3s;
	transform:         translate(2000px,0px); /* CSS3 */
	-moz-transform:    translate(2000px,0px); /* Firefox */
	-webkit-transform: translate(2000px,0px); /* Webkit */
	-o-transform:      translate(2000px,0px); /* Opera */
	-ms-transform:     translate(2000px,0px); /* IE 9 */
}

#popups {
	visibility: hidden;
	overflow: hidden;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

#popups div {
	visibility: visible;
}
