[program:builder_celery]
command=/home/abbita/app/abbita 
directory=/home/abbita/app/
autostart=true
autorestart=true
stderr_logfile=/var/log/abbita.err.log
stdout_logfile=/var/log/abbita.out.log
user=abbita