{{template "head" .}}
<h1>{{.Wall.Name}}</h1>
<div class="container-fluid">
  <div class="row text-center">
    <div class="wall-holder">
      <img class="main-wall" src="https://s3.amazonaws.com/gollage/{{.Wall.Name}}/full.png" width="{{.Width}}" height="{{.Height}}"/>
    </div>
  </div>
  <div class="row">
    <form action="/wall/{{.Wall.Name}}" method="POST" enctype="multipart/form-data" class="image-form form-horizontal">
      <label class="col-sm-1 control-label text-right" for="url">URL</label>
      <div class="col-sm-3">
        <input type="text" class="form-control" name="link">
      </div>
      <div class="col-sm-4">
        <span class="btn btn-default btn-file btn-block">
            Browse <input type="file" name="files" multiple="multiple">
        </span>
      </div>
      <div class="col-sm-4">
        <input type="submit" name="submit" value="Submit" class="btn btn-primary btn-block col-sm-3" disabled>
      </div>
    </form>
  </div>
</div>
<script>
  var links = JSON.parse('{{.LinkJSON}}');
</script>
{{template "tail" .}}
