<div class="panel panel-default center-block">
	<div class="panel-heading">
		<h5 class="panel-title">Game Chat</h5>
	</div>

	<div class="panel-body">
		<form id="chat-form" class="form-inline">
			<select name="message" id="chat-select" class="form-control">
			<option value="1">Hello</option>
			<option value="2">I am the King.</option>
			<option value="3">You took my piece!</option>
			<option value="4">Bishop! I need a bishop!</option>
			<option value="5">I didn't like that Knight anyway...</option>
			<option value="6">:)</option>
			<option value="7">:(</option>
			<option value="8">D:</option>
			<option value="9">:D</option>
			<option value="10">I'm gonna get you back for that.</option>
			<option value="11">You sunk my battleship...</option>
			<option value="12">Prepare for defeat!</option>
			<option value="13">Nicely done.</option>
			<option value="14">This isn't a game, this is a slaughter!</option>
			<option value="15">Don't worry be happy :-)</option>
			</select>
			<button type="submit" id="chat-button" class="btn btn-primary" style="float: right;">Send</button>
		</form>

		<div id="chat-history"></div>
	</div>
</div>