
<h3 class="text-center">Game Request</h3>
<p style="margin-top: 1.5em;"><%=opponent.username%> would like to play you!<br>
<%=opponent.username%> is <% if (opponent.is_ai) { %>an AI<% } else { %> a real person <% } %> who has a rank of <%=opponent.current_rank%></p>

<div class="text-center" style="margin-top: 1.5em;">
	<button id="game-accept" type="button" class="btn btn-primary">Accept</button>
	<button id="game-deny" type="button" class="btn btn-danger" style="margin-left: 1em;">Deny</button>
</div>
