<% if (typeof(error) != "undefined") { %>
<div class="panel panel-danger user-form center-block">
	<div class="panel-heading">
	<h5 class="text-center"><%=error%></h5>
	</div>
</div>
<% } %>

<form id="login-form" class="center-block user-form">
	<div class="form-group">
		<input type="email" class="form-control" name="username" placeholder="username">
	</div>
	<div class="form-group">
		<input type="password" name="password" class="form-control" placeholder="password">
	</div>

	<button type="submit" id="login-button" class="btn btn-primary">Login</button>
	<button type="button" id="i-want-to-register" class="btn btn-link">Register</button>
</form>