{{link-to 'Cancel' 'device-classes' class='btn btn-success'}}

<form class="form-horizontal" id="device-class-form">
<fieldset>
  <div class="form-group">
    <label class="col-lg-2 control-label">Name</label>

    <div class="col-lg-10">
      {{input value=name class="form-control" name='name' placeholder="Device class name"}}
      <span class="material-input"></span>
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-10 col-lg-offset-2">
      <button type="reset" class="btn btn-default" {{action 'cancel' this}}> Cancel</button>
      <button type="submit" class="btn btn-primary" {{action 'save' this}}> Save</button>
    </div>
  </div>
</fieldset>
</form>


