<div class="panel panel-default">
<div class="panel-heading">
  <h3 class="panel-title">Device classes</h3>
</div>
<div class="panel-body">
  <table class="table  table-hover">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Api Token</th>
        <th></th>
      </tr>
      </thead>
    <tbody>
      {{#each klass in model}}
      <tr>
        <td>{{klass.id}}</td>
        <td>{{klass.name}}</td>
        <td>{{klass.api_key}}</td>
        <td><a class="btn btn-danger pull-right" href="#" {{action 'delete' klass}}>Delete</a></td>
      </tr>
      {{/each}}
    </tbody>
  </table>

</div>

</div>
